.DS_Store
*.log
.idea/
.vscode/
__pycache__/
*.py[cod]
*.db
.venv/
venv/
backend/.venv/
backend/venv/
backend/.env
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage/
frontend/build/
frontend/.next/
frontend/out/
frontend/**/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env*.local
frontend/.vercel
frontend/**/*.tsbuildinfo
frontend/next-env.d.ts